body {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

#heading-div {
    background-color: rgb(242, 239, 236);
    padding: 20px;
    margin-bottom: 10px;
    height: 60px;
}

#heading-div > h2 {
    color: rgb(255, 156, 0);
    letter-spacing: 5px;
    word-spacing: 10px;
    margin: auto;
}

.countries-count {
    margin: auto;
    margin-bottom: 5px;
}

.countries-criteria {
    margin: auto;
    color: rgb(255, 156, 0);
}

.search-options {
    margin-top: 10px;
    padding: 10px;
}

.search-div {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;   
}

#search-bar {
    border: 2px solid rgb(214, 208, 198);
    width: 670px;
    height: 30px;
    border-radius: 20px;
    color: rgb(244, 156, 93);
    font-weight: bold;
    padding-left: 30px;
}

#search-bar::placeholder {
    color: rgb(214, 208, 198);
    padding-left: 20px;
    font-size: 16px;
    font-weight: normal;
}

#search-bar:focus {
    outline: none;
}

.search-options {
    margin: auto;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

button {
    width: 150px;
    background-color: rgb(255, 165, 0);
    border: none;
    border-radius: 15px;
    padding: 10px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

.name-button, 
.capital-button {
    margin-right: 20px;
}

.chart-column {
    color: rgb(255, 165, 0);
    font-size: 30px;
    margin-left: 10px;
    cursor: pointer;
}

.countries-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(242, 239, 236);
    padding-top: 20px;
    margin-bottom: 30px;
}

.countries-span {
    display: flex;
    flex-direction: column;
    width: 190px;
    height: 200px;
    margin: 10px 10px;
    background-color: #ffffff;
}

.flag-img {
    margin: 10px auto;
    width:  120px;
    height: 60px;
}

.country-name {
    margin: 0 auto;
    font-weight: bold;
    font-size: 12px;
    padding: 4px;
    color: rgb(255, 165, 0);
    text-transform: uppercase;
}

.country-details {
    font-size: 11px;
    text-align: left;
    padding: 10px;
    overflow: hidden;
    word-wrap: break-word;
    margin: auto;
}

.details {
    margin: 0 auto;
}

.graph-buttons {
    height: 40px;
    margin: auto;
}

.population,
.languages {
    border-radius: 5px;
}

.graph-title {
    margin: auto;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: bold;
}

.graphs {
    background-color: #f0f0f0;
    margin: auto;
    padding: 30px;
    box-shadow: 2px 2px 8px 1px #c6c5c3;
}

.graph-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 80%;
    margin: auto;
  }
  
#progress-bar {
height: 40px;
overflow: hidden;
display: flex;
align-items: center;
}

#progress-bar-container {
    height: 100%;
    width: 75%;
}

.progress-bar-fill {
height: 100%;
background-color: rgb(255, 165, 0);
transition: width 0.3s ease-in-out;
border-radius: 3px;
}

.progress-bar-label {
display: inline-block;
width: 10%;
font-size: 12px;
margin-right: 40px;
padding-left: 5px;
text-align: left;
}

.population-amount {
    display: inline-block;
    margin-left: 30px;
    font-size: 12px;
    width: 15%;
    text-align: left;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(255, 156, 0);
}

footer > a {
    color: rgb(255, 165, 0);
}